<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="foundation-storage" value="file:E:/temp/Cqrs/foundation" />
		<add key="channels-storage" value="file:E:/temp/Cqrs/channels" />
		<add key="data-storage" value="file:E:/temp/Cqrs/data" />
		<add key="inventory-storage" value="file:E:/temp/Cqrs/inventory" />
		<add key="receiving-storage" value="file:E:/temp/Cqrs/receiving" />
	</appSettings>
</configuration>