<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="fileAll" xsi:type="File" fileName="${basedir}/log/skuVault.console.log"
		layout="${longdate} [ ${level:uppercase=true} ] | ${logger}${newline}${message}${onexception:${newline}***** EXCEPTION OCCURRED ****${newline}${exception:format=ToString}${newline}}"
		archiveEvery="Day" archiveFileName="${basedir}/log/skuVault.console.{#####}.log"
		archiveNumbering="Rolling" maxArchiveFiles="100" fileAttributes="Compressed" />

		<target name="console" xsi:type="Console" layout="${message}${onexception:${newline}***** EXCEPTION OCCURRED ****${newline}${exception:format=ToString}${newline}}"/>
	</targets>

	<rules>
		<logger name="*" writeTo="fileAll,console"/>
	</rules>
</nlog>